<div class="row">

    <div class="col-6">
        <input type="submit" class="btn btn-info form-control" vale="Create" />
    </div>
    <div class="col-6">
        <button asp-action="Index" class="btn btn-success form-control">Back To Category</button>
    </div>

</div>